


*{
    margin: 0px;
    padding: 0px;
}

    




img{
    width: 120px;
    margin-top: -10px;
    margin-left: 30px;
    float:left;

}

nav{
   height: 80px; 
   background-color: #79AEB2;
   position: fixed;
   z-index: 1;
   width: 100%;
}
.bar{
    margin-left: 550px;
    padding-top: 18px;
    padding-top: 30px;
    
    
}
ul{
    display: inline;
    list-style: none;
    

}
ul li.home{
    color: white;
}
ul li{
    margin-left: 80px;
    float: left;
    color: white;
    font-family:rubik;
    font-size: 20px;
}
ul li:hover{
    color: #334647;
}

.header{
        
    background-image: url(lagonda.jpg);
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    margin-top: -1px;
}
header .title .first-title{
    background-image:linear-gradient(102deg,#234347, #717780) ;
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}
.title{
    position: absolute;
    top: 40%;
    left: 23%;
    font-size: 50px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    
}
button{
    width: 250px;
    height: 70px;
    margin-left: 33%;
    margin-top: 70px;
    background-color:#79AEB2;
    border: 3px solid #79aeb2a2;
    font-size: 25px;
    color: white;
    border-radius: 7px;
}
button:hover{
    
    background-color:#79aeb2a2;
   
}
.store{
    height: 380px;
    background-color: #79AEB2;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    padding-top: 30px;
    line-height: 70px;
    
}
.old{
    
    text-transform: uppercase;
}
.store1{
    margin-left: 480px;
    
    
}
.limité{
    height: 210px;
    width: 250px;
    
}
.ourcar{
    margin-top: 90px;
    text-align: center;
    font-style: italic;
    font-family:rubik;
    font-size: 40px;
    color:#79AEB2;
    
   
}
.part1{
    width: 80%;
    height: 380px;
    background-color:white;
    margin-top: 80px;
    display: flex;
    flex-direction:row;
    background-color: #79aeb2d0;
    margin-left: 130px;
    box-shadow: 7px 7px 7px rgb(0,0,0, 0.5);
    border: 1px solid black;
    
}
.child1{
    width: 60%;
    
    
}
.lagonda1{
   width: 600px;
   height: 300px;
   border: 1px solid black;
   margin-top: 35px;
   box-shadow: 5px 5px 5px 5PX rgb(0,0,0, 0.5);
}
.child2{
   width: 30%;
   font-size: 25px;
   margin-left:60px ;
   text-align: justify;
   line-height: 50px;
   padding-top: 40px;
   font-family: Arial, Helvetica, sans-serif;
font-style: italic;
}
.part2{
    width: 80%;
    height: 380px;
    background-color:white;
    margin-top: 80px;
    display: flex;
    flex-direction:row;
    background-color: #79aeb2d0;
    margin-left: 130px;
    box-shadow: 7px 7px 7px rgb(0,0,0, 0.5);
    border: 1px solid black;
}
.div-classic{
    padding-top: 70px;
    display: flex;
    flex-direction:column;
    margin-left: 20px;
}
.image-classic{
    width: 200px;
    height: 150px;
    margin-left: 80px;
}
.image-star{
    width: 200px;
    margin-top: -20px;
    margin-left: 90px;
}
.comment{
    display: flex;
    flex-direction: row;
   /* justify-content: space-between;*/
    /*justify-content: center;*/
}
.child3{
    width: 250px;
    height: 240px;
    background-color:white;
    margin-left: 140px;
    margin-top: 100px;
    border-radius: 150px;
    border: 2px solid black;
    box-shadow: 10px 10px 5px 5px rgb(0,0,0, 0.5);
    display: flex;
    flex-direction: column;

}
.ronaldo{
    width: 90px;
    margin-left: 80px;
    margin-top: -40px;
    
}
.p{
    margin-top: 20px;
    width: 130px;
    margin-left: 60px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
    text-align: justify;
}
.star{
    margin-top: 20px;
    margin-left:90px ;
    width: 70px;
}
.parent-buy{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Buynow{
    width: 500px;
    
}

footer{
    width: 100%;
    height: 500px;
    background-color:#79AEB2; 
   

}
.contenir{
   display: flex;
  
   
}
.parent{
   display: flex;
   flex-direction:column;
    

   
}
h4{
   color: white;
   font-family: rubik ;
   padding-top: 50px;
   font-size: 40px;
   margin-left: 100px;
}
form{
    margin-top: 30px;
    margin-left: 100px;

}
 input:focus{
    outline: none;
}
input{
    box-shadow:5px 5px 5px rgb(0,0,0, 0.5);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(107, 106, 104);
}
.child4{
    display: block;
    padding-left:15px;
    margin-top: 40px;
    border: 3px solid white;
    height:45px ;
    border: 1px solid w;
    font-family: Arial, Helvetica, sans-serif;
    width: 600px;
    font-size: 20px;
    
    
}
.child6{
    
}
.child5{
    margin-left: 470px;
    width: 150px;
    height: 50px;
    margin-top: 30px;
    border: 2px solid white;
    background-color: #79AEB2;
    color: white;
    border-radius: 10px;
    
}
.child5:hover{
    
    background-color: #38686bf8;
    
}



.map{

    width: 400px;
    height: 350px;
    margin-top:70px;
    margin-left: 60px;
    box-shadow: 5px 5px 5px rgb(0,0,0, 0.5);

}
.copie{
    width: 100%;
    height: 50px;
    background-color: #195057b4;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    
}
.copie i{
    font-size: 30px;
    color: rgb(221, 216, 216);
}
.copie i:hover{
    font-size: 40px;
    color: white;
    color: turquoise;
   
}
#facebook{
position: absolute;
right: 29%;
}
#instagram{
    position: absolute;
    right: 21%;
}
#twitter{
    position: absolute;
    right: 12%;
}
#google{
    position: absolute;
    right: 37%;
}
.right{
    position: absolute;
    left: 8%;
    margin-top: -7px;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(204, 204, 204);
    font-weight: bolder;
    font-size: 16px;
    
}

/*span{
    display:inline-block;
    border-bottom-style: solid;
    border-bottom:6px solid;
    padding-bottom: 50px;
    width: 300px;
}*/
@media  (max-width: 414px){
    
    *{
        margin: 0px;
        padding: 0px;
    }
    body{
        
        width: 100%;
    }
    
    
    
    img{
        width: 50px;
        margin-top: 2px;
        margin-left: 10px;
        float:left;
    
    }
    
    nav{
       width: 100%;
       height: 50px; 
       position: fixed;
       z-index: 1;
    }
    .bar{
        margin-left: 150px;
        padding-top: 18px;
    }
    ul{
        display: inline;
        list-style: none;
        
    
    }
    ul li{
        margin-left: 20px;
        float: left;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;

    }
    header{
        position: relative;
       
    }
    .header{
        
        background-image: url(lagonda.jpg);
        height: 400px;
        background-position: center;
        opacity: 0,1;
        margin-top: -1px;
        
    }
    .title{
        position: absolute;
        top: 26%;
        left: 15%;
        font-size: 25px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 70px;
    }
    button{
        width: 130px;
        height: 40px;
        margin-left: 25%;
        margin-top: 50px;
        background-color:#79AEB2;
        border: 1px solid black;
        border-radius: 7px;
        font-size: 20Px;
    }
    button:hover{
        
        background-color:#79aeb2a2;
       
    }
    .store{
        height: 180px;
        background-color: #79AEB2;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        text-align: center;
        padding-top: 30px;
        line-height: 30px;
        padding-right: 0px;
    }
   
    .store1{
        margin-left: 140px;
    }
    .limité{
        height: 100px;
        width: 120px;
    }
    .ourcar{
        margin-top: 30px;
        text-align: center;
        font-family:rubik;
        font-size: 20px;
        color:#79AEB2;
}
    .part1{
        width: 100%;
        height: 320px;
        background-color:white;
        margin-top: 0px;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        border: 0;
        box-shadow: 0 0 0;
    }
    .child1{
        width:100%;
        box-shadow: 1PX solid black;
        
    }
    .lagonda1{
        width: 85%;
        height: 160px;
        margin-left: 30px;
        margin-top: 30px;
        box-shadow: 10px 10px 4px rgb(0,0,0, 0.5);
        
    }
    
    .child2{
        width: 85%;
        height: 160px;
        margin-left: 30px;
        margin-top: 0px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        line-height: 30px;
        text-align: justify;
    }
    .part2{
        width: 100%;
        height: 320px;
        background-color:white;
        display: flex;
        flex-direction: column;
        border: 0;
        box-shadow: 0 0 0;
        margin-left: 0;

    }
    .div-classic{
        padding-top: 70px;
        display: flex;
        flex-direction:column;
        margin-left: 20px;
    }
    .image-classic{
        width: 80px;
        height: 80px;
        margin-left: 0;
    }
    .image-star{
        width: 130px;
        margin-top: -20px;
        margin-left: 0;
    }
    .comment{
        display: flex;
        flex-direction: column;
        /*justify-content: center;*/
    }
    .child3{
        width: 250px;
        height: 250px;
        background-color:white;
        margin-left: 80px;
        margin-top: 100px;
        border-radius: 150px;
        border: 2px solid black;
        box-shadow: 10px 10px 5px rgb(0,0,0, 0.5);
        display: flex;
        flex-direction: column;

    }
    .ronaldo{
        width: 90px;
        margin-left: 80px;
        margin-top: -40px;
        
    }
    .p{
        margin-top: 20px;
        width: 130px;
        margin-left: 60px;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 25px;
        text-align: justify;
    }
    .star{
        margin-top: 20px;
        margin-left:90px ;
        width: 70px;
    }
    .parent-buy{
        display: flex;
         justify-content: center;
         align-items: center;
     }
     .Buynow{
         width: 300px;
     }
     footer{
         width: 100%;
         height: 300px;
         background-color:#79AEB2; 
     }
     .contenir{
        display: flex;
        
    }
     .parent{
        display: flex;
        flex-direction:column;
         

        
     }
     h4{
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        padding-top: 30px;
        font-size: 23px;
        margin-left: 30px;
     }
     form{
         margin-top: 30px;
         margin-left: 20px;

     }

     .child4{
         display: block;
         padding-left: 5px;
        
         margin-top: 20px;
         height:30px ;
         border: 1px solid white;
         font-family: Arial, Helvetica, sans-serif;
         width: 160px;
         font-size: 15px;
         
     }
     .child5{
         margin-left: 100px;
         width: 70px;
         height: 35px;
         margin-top: 20px;
         border: 2px solid white;
         background-color: #79AEB2;
         color: white;
         font-size: 10px;
     }

     
     .map{
         width: 180px;
         height: 150px;
         margin-top:70px;
         margin-left: 25px;
         box-shadow: 5px 5px 5px rgb(0,0,0, 0.5);

     }
     .copie{
         width: 100%;
         height: 60px;
         background-color: #195057b4;
         display: flex;
         flex-direction:row;
         align-items: center;
         justify-content: space-evenly;
         
     }
     .copie i{
         font-size: 20px;
         color:white;
         margin-top: 5px;
        
}
.copie i:hover{
    font-size: 30px;
    color: white;
    color: turquoise;
   
}
#facebook{
    position: absolute;
    right: 22%;
    }
    #instagram{
        position: absolute;
        right: 14%;
    }
    #twitter{
        position: absolute;
        right: 5%;
    }
    #google{
    position: absolute;
    right: 29%
    }

.right{
    position: absolute;
    left: 4%;
    margin-top: -15px;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(204, 204, 204);
    font-weight: bolder;
    font-size: 13px;
    line-height: 17px;
    width: 240px;
}


}