*{
    margin: 0px;
    padding: 0px;

}



nav{
   height: 80px; 
   background-color: black;
   position: fixed;
   z-index: 1;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: Arial, Helvetica, sans-serif;
   font-style: italic;
}
nav .parentLogo
{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: red; */
}
nav .bar
{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.parentLogo img{
    width: 100px;
    margin-top: 20px;
}
ul{
    display: inline;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}
ul li.home{
    color:white;
}
ul li{
    margin-left: 80px;
    float: left;
    color: white;
    font-family:rubik;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
ul li:hover{
    color: #334647;
}
header
{
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
    background-image: url('IMG/carBlack.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: cover;
    background-position: center;
}

.store{
    height: 380px;
    /* background-color: #79AEB2; */
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    padding-top: 30px;
    line-height: 70px;
    
}
.old{
    
    text-transform: uppercase;
}
.store1{
    margin-left: 480px;
    
    
}
.limité{
    height: 210px;
    width: 250px;
    
}
.ourcar{
    margin-top: 90px;
    text-align: center;
    font-style: italic;
    font-family:rubik;
    font-size: 40px;
    color:black;
}
main
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.part1{
    width: 80%;
    height: 380px;
    margin-top: 80px;
    display: flex;
    flex-direction:row;
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    color: white;
    border-radius: 10px;
}
.child1{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lagonda1{
   width: 600px;
   height: 300px;
   box-shadow: 5px 5px 5px 5PX rgb(0,0,0, 0.5);
   border-radius: 10px;
}
.child2{
   width: 40%;
   font-size: 25px;
   margin-left:60px ;
   text-align: justify;
   line-height: 50px;
   padding-top: 40px;
   font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
}
.part2{
    width: 80%;
    height: 380px;
    background-color:white;
    margin-top: 80px;
    display: flex;
    flex-direction:row;
    background-color: #79aeb2d0;
    margin-left: 130px;
    box-shadow: 7px 7px 7px rgb(0,0,0, 0.5);
    border: 1px solid black;
}
.div-classic{
    padding-top: 70px;
    display: flex;
    flex-direction:column;
    margin-left: 20px;
}
.image-classic{
    width: 200px;
    height: 150px;
    margin-left: 80px;
}
.image-star{
    width: 200px;
    margin-top: -20px;
    margin-left: 90px;
}
.comment{
    display: flex;
    flex-direction: row;
   /* justify-content: space-between;*/
    /*justify-content: center;*/
}
.child3{
    width: 250px;
    height: 240px;
    background-color:white;
    margin-left: 140px;
    margin-top: 100px;
    border-radius: 150px;
    border: 2px solid black;
    box-shadow: 10px 10px 5px 5px rgb(0,0,0, 0.5);
    display: flex;
    flex-direction: column;

}
.ronaldo{
    width: 90px;
    margin-left: 80px;
    margin-top: -40px;
    
}
.p{
    margin-top: 20px;
    width: 130px;
    margin-left: 60px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
    text-align: justify;
}
.star{
    margin-top: 20px;
    margin-left:90px ;
    width: 70px;
}
.parent-buy{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.Buynow{
    width: 500px;
    
}

footer{
    width: 100%;
    height: 500px;
    background-color:rgba(0, 0, 0, 0.884); 
   

}
.contenir{
   display: flex;
   justify-content: center;
    align-items: center;
}
.parent4
{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.parent{
   display: flex;
   flex-direction:column; 
}
.parentMap
{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
h4{
   color: white;
   font-family: rubik ;
   padding-top: 50px;
   font-size: 40px;
   margin-left: 100px;
}
form{
    margin-top: 30px;
    margin-left: 100px;

}
 input:focus{
    outline: none;
}
input{
    box-shadow:5px 5px 5px rgb(0,0,0, 0.5);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(107, 106, 104);
    border-radius: 5px;
    font-size: 15px;
}
.child4{
    display: block;
    padding-left:15px;
    margin-top: 40px;
    border: 3px solid white;
    height:45px ;
    border: 1px solid w;
    font-family: Arial, Helvetica, sans-serif;
    width: 600px;
    font-size: 20px;
    
    
}
h4
{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}
.child5{
    margin-left: 470px;
    width: 150px;
    height: 50px;
    margin-top: 30px;
    border: 1px solid white;
    background-color: white;
    color: black;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s all;
    
}
.child5:hover{
    
    background-color: black;
    color: white;
    border: 1px solid white;
}

.map{

    width: 400px;
    height: 350px;
    margin-top:70px;
    margin-left: 60px;
    box-shadow: 5px 5px 5px rgb(0,0,0, 0.5);

}
.copie{
    width: 100%;
    height: 50px;
    background-color: black;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    
}
.copie i{
    font-size: 20px;
    color: rgb(221, 216, 216);
}

#facebook{
position: absolute;
right: 29%;
}
#instagram{
    position: absolute;
    right: 21%;
}
#twitter{
    position: absolute;
    right: 12%;
}
#google{
    position: absolute;
    right: 37%;
}
.right{
    position: absolute;
    left: 8%;
    margin-top: -7px;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(204, 204, 204);
    font-weight: bolder;
    font-size: 16px;
    
}
.title
{
    margin-top: 350px;
    margin-left: 50px;
}
header  .first-title
{
    font-size: 50px !important;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-bottom: 20px;
}
header button
{
    width: 200px;
    height: 50px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0 auto;
    cursor: pointer;
    transition: 0.5s all;
}
header button:hover
{
    background-color: black;
    color: white;
    border: 1px solid white;
}
header .description
{
    color: white;
    width: 500px;
    font-size: 17px;
    line-height: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}
@keyframes floatUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
  
.ByNow
{
    position: absolute;
    position: fixed;
    left: 94vw;
    top: 80vh;
    width: 100px;
    z-index: 10; 
    color: white;
    border-radius: 10px;
    cursor: pointer;
    animation: floatUpDown 2s infinite;
}

@media  (max-width: 414px){
    
   


}